.about{
    width: 100%;
    height: 38vh;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h1{
    font-size: 28px;
    width: 220px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #333;
}
.about h3{
    color: #333;
    font-weight: 700;
    font-size: 24px;
}